<% include _layouts/header %>
    <div class="page__main-slider">
        <% media.forEach(function(media){ %>
            <% if(media.category.title == "main_slider"){ %>
                <img src="<%= media.path %>" alt="<%= media.alt %>">
            <% } %>
        <% }) %>
    </div>
    <div>
        <a href="/products">
            <h2 class="page__heading">products</h2>
        </a>
        <div class="page__display">
            <% productcategories.forEach(function(productCat){ %>
                <a href="/products/<%= productCat.slug %>">
                    <div class="card">
                        <img src="<%= productCat.imagepath %>" alt="" class="display-product-images">
                        <h4>
                            <%= productCat.title %>
                        </h4>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
    <div class="page__main-slider">
        <% media.forEach(function(media){ %>
            <% if(media.category.title == "bottom_img"){ %>
                <img class="page__full-width-img" src="<%= media.path %>" alt="<%= media.alt %>">
            <% } %>
        <% }) %>
    </div>
<% include _layouts/footer %>