<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="<%= author %>">

    <title>Ataraxy Clothing -
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" >

    <link rel="stylesheet" href="/styles/theme.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>
    <!-- <div class="ajaxbg">
        <div class="ajaxinner">
            <h3>You are now being redirected to paypal...</h3>
        </div>
    </div> -->

    <nav class="header">
        <a class="header__brand" href="/"><p>Ataraxy</p><p>Clothing</p></a>

        <div class="header__menu-icon">
        <div class="header__menu-icon__middle"></div>
    </div>
        <div class="header__navbar" id="">
            <ul class="header__navbar--nav-left">
                <% pages.forEach(function(page){ %>
                    <% if (page.slug == "home"){ %>
                        <li>
                            <a href="/">
                                <%= page.title.toLowerCase() %>
                            </a>
                        </li>
                        <% } else{ %>
                            <% if (page.parent == "home") { %>
                                <li>
                                    <a href="/<%= page.slug %>">
                                        <%= page.title.toLowerCase() %>
                                    </a>
                                </li>
                                <% } %>
                                    <% } %>
                                        <% }) %>
            </ul>
            <ul class="header__navbar--nav-right">
                <li>
                    <a href="/cart/checkout">My Cart (
                        <% if (typeof cart !== "undefined") { %>
                            <%= cart.length %>
                                <% } else { %>
                                    0
                                    <% } %>
                                        )</a>
                </li>
                <% if (user) { %>
                    <li>
                        <a  href="/users/logout">Hi,
                            <%= user.username %> ( Logout )</a>
                    </li>
                    <% } else{ %>
                        <li>
                            <a  href="/users/register">Register</a>
                        </li>
                        <li>
                            <a href="/users/login">Log in</a>
                        </li>
                        <% } %>
                            <% if (user && user.admin == 1) { %>
                                <li>
                                    <a href="/admin/pages">Admin Area</a>
                                </li>
                                <% } %>
            </ul>
        </div>
    </nav>

    <main role="main">
       
                        