<% include ../_layouts/productHeader %>

    <div class="products-previews">
        <div class="category-title">
 <h4>all products</h4>
</div>
        <% products.forEach(function(p){ %>
           
            <div class="product-preview">
                <a class="pa" href="/products/<%= p.category %>/<%= p.slug %>">
                    <img class="pimage" src="/images/product_images/<%= p.id %>/<%= p.image %>" alt="">
                </a>
                <h3 class="product-preview-title">
                    <%= p.title %>
                </h3>
                <h4 class="product-preview-price">
                    $
                    <%= parseFloat(p.price).toFixed(2) %>
                </h4>
                <a class="product-preview-details" href="/products/<%= p.category %>/<%= p.slug %>">View Details</a>
            </div>

            <% }) %>

    </div>


    <% include ../_layouts/footer %>