<% include ../_layouts/productHeader %>

    <div class="product__holder">
        <div class="">
            <img class="product__image" src="/product_images/<%= product.id %>/<%= product.image %>" alt="">
            <div class="">
            <ul class="gallery">
                <% galleryImages.forEach(function(image){ %>
                    <% if (image != "thumbs") { %>
                        <li>
                            <a data-fancybox="Gallery" href="/product_images/<%= product.id %>/gallery/<%= image %>">
                                <img src="/product_images/<%= product.id %>/gallery/thumbs/<%= image %>" alt="">
                            </a>
                        </li>
                        <% } %>
                            <% }) %>
            </ul>
        </div>
        </div>
        <div class="">
            <h1 class="product__header">
                <%= product.title %>
            </h1>
            <p class="product__price">
                $
                <%= parseFloat(product.price).toFixed(2) %>
            </p>
            <% if(printfulPluginExists){ %>
                <form  method="post" action="/cart/add/<%= product.slug %>" enctype="multipart/form-data">
                    <div class="color-size-holder">
                        <% product.color.forEach(function(color){ %>
                            <div class="color-container">
                                <input type="radio" class="color-size-radio" value="<%= color %>" name="color" id="<%= color %>">

                                <label for="<%= color %>" class="color-size-button">
                                    <%= color %>
                                </label>

                            </div>
                            <% }) %>

                    </div>
                    <div class="color-size-holder">
                        <% product.sizes.forEach(function(size){ %>
                            <div class="size-container">
                                <input type="radio" class="color-size-radio" value="<%= size %>" name="size" id="<%= size %>">

                                <label for="<%= size %>" class="color-size-button">
                                    <%= size %>
                                </label>

                            </div>
                            <% }) %>

                    </div>
                
                <div class="product__content">
                    <%- product.content %>
                </div>
                <button class="button button__product-add">Add to Cart</button>
            </form>
                <% }else {%>

                    <p class="product__content">
                        <%- product.content %>
                    </p>
                    <p class="button button__product-add">
                            <a href="/cart/add/<%= product.slug %>">Add to cart</a>

                    </p>
                    <% } %>
        </div>
        

    </div>



    <% include ../_layouts/footer %>